pkgbase = spl-utils-common
	pkgdesc = Solaris Porting Layer kernel module support files.
	pkgver = 0.7.5
	pkgrel = 1
	url = http://zfsonlinux.org/
	arch = x86_64
	groups = archzfs-linux
	license = GPL
	makedepends = git
	provides = spl-utils
	conflicts = spl-utils-common-git
	conflicts = spl-utils-linux-git
	conflicts = spl-utils-linux
	conflicts = spl-utils-linux-lts
	conflicts = spl-utils-linux-lts-git
	replaces = spl-utils-linux,
	replaces = spl-utils-linux-lts
	source = https://github.com/zfsonlinux/zfs/releases/download/zfs-0.7.5/spl-0.7.5.tar.gz
	sha256sums = c4845d9a6123397c53ee003ed1712f2996a50ac2a9a30d1490280771484d08a6

pkgname = spl-utils-common

